/* r.a.d.menu Web 2.0 skin */

.RadMenu_Web20 
{
	background: url('img/MenuItemBackground.gif');
	border-left: solid 0px #617fb5;
}

.RadMenu_Web20_Context
{
	background: url('img/MenuItemBackground.gif');
	border:0;
}

.RadMenu_Web20 .link
{
	float: left;
	text-decoration: none;
	color: #000066;
	border-left: solid 1px #617fb5;
	background: transparent;
	text-align:left;
}

.RadMenu_Web20 .link:hover,
.RadMenu_Web20 .focused,
.RadMenu_Web20 .expanded
{
	color: #000066;
	background: transparent url('img/MainItemBackgroundHover.gif') no-repeat center;
}

.RadMenu_Web20 .rootGroup .text
{
	/*background: transparent url('img/RootGroupArrowDown.gif') no-repeat right center;*/
	padding-left: 6px;
	margin-right: 4px;
	font: bold 12px Arial, Verdana, Sans-serif;
	line-height: 28px;
	padding-right: 7px;
}

.RadMenu_Web20 .rootGroup .text
{
    background-image:none;
}

.RadMenu_Web20 .horizontal .expandBottom,  
.RadMenu_Web20 .horizontal .expandTop  
{  
  /*background: transparent url('img/RootGroupArrowDown.gif') no-repeat right center;*/  
} 


.RadMenu_Web20 .vertical .expandLeft,
.RadMenu_Web20 .vertical .expandRight  
{  
  background: transparent url('img/invertedGroupImage.gif') no-repeat right center;  
} 


.RadMenu_Web20 .slide
{
	margin-top:-1px;
}

.RadMenu_Web20 .group
{
	border: solid 1px #6788be;
	background: white;
}

.RadMenu_Web20 .group .link
{
	background: white;
	border: 0px;
	border-bottom: solid 1px #f0f2f3;
	color: #333;
}

.RadMenu_Web20 .group .text
{
	font-weight: normal !important;
	background: none;
	margin-right: 0px !important;
	padding-right: 60px;
	font-size: 11px;
}

.RadMenu_Web20 .group .link:hover,
.RadMenu_Web20 .group .focused,
.RadMenu_Web20 .group .expanded
{
	background: #e7f1ff;
	border: 0px;
	border-bottom: solid 1px #d8dde0;
}

.RadMenu_Web20 .leftArrow,
.RadMenu_Web20 .rightArrow,
.RadMenu_Web20 .topArrow,
.RadMenu_Web20 .bottomArrow,
.RadMenu_Web20 .leftArrowDisabled,
.RadMenu_Web20 .rightArrowDisabled,
.RadMenu_Web20 .topArrowDisabled,
.RadMenu_Web20 .bottomArrowDisabled
{
	background: #e7f1ff url('img/left.gif') center center no-repeat;
	width: 15px;
	text-decoration:none;
	text-indent:-3000px;
	color:#e7f1ff;
	overflow:hidden;
}

.RadMenu_Web20 .topArrow,
.RadMenu_Web20 .topArrowDisabled
{
	background-image: url('img/top.gif');
	width: 100%;
}

.RadMenu_Web20 .bottomArrow,
.RadMenu_Web20 .bottomArrowDisabled
{
	background-image:url('img/bottom.gif');
	width: 100%;
}

.RadMenu_Web20 .rightArrow,
.RadMenu_Web20 .leftArrow
{
	height: 100%;
}

.RadMenu_Web20 .rightArrow,
.RadMenu_Web20 .rightArrowDisabled
{
	background-image: url('img/right.gif');
}

.RadMenu_Web20 .vertical .separator .text
{
	padding-top: 2px;
	background: #6788be;
	font-size: 1px;
}

.RadMenu_Web20 .expandLeft,
.RadMenu_Web20 .expandRight,
.RadMenu_Web20 .focused .expandLeft,
.RadMenu_Web20 .focused .expandRight,
.RadMenu_Web20 .expanded .expandLeft,
.RadMenu_Web20 .expanded .expandRight
{
	background: transparent url(img/invertedGroupImage.gif) right center no-repeat;
}

.RadMenu_Web20 .group .expandLeft,
.RadMenu_Web20 .group .expandRight,
.RadMenu_Web20 .group .focused .expandLeft,
.RadMenu_Web20 .group .focused .expandRight,
.RadMenu_Web20 .group .expanded .expandLeft,
.RadMenu_Web20 .group .expanded .expandRight
{
	background: transparent url(img/groupImage.gif) right center no-repeat;
}

/* mozilla only - disabled state */
.RadMenu_Web20 .link.disabled,
.RadMenu_Web20 .link.disabled:hover
{
	-moz-opacity: 0.8;
	opacity: 0.8;
	color: #ccc;
	background: none;
}


/*right-to-left support*/

.RadMenu_Web20_rtl,
.RadMenu_Web20_rtl *
{
    text-align:right;
}

.RadMenu_Web20_rtl .rootGroup .text
{
	padding-left: 24px;
	padding-right: 8px;
	margin-right: 0;
	margin-left: 4px;
}

.RadMenu_Web20_rtl .group .text
{
	margin-left: 0 !important;
	padding-left: 60px;
	padding-right: 8px;
}

.RadMenu_Web20_rtl .horizontal .expandBottom,  
.RadMenu_Web20_rtl .horizontal .expandTop  
{  
  background-position:left center;  
} 

.RadMenu_Web20_rtl .vertical .expandLeft,
.RadMenu_Web20_rtl .vertical .expandRight  
{  
  background: transparent url('img/invertedGroupImageRTL.gif') no-repeat left center;
}

.RadMenu_Web20_rtl .group .expandLeft,
.RadMenu_Web20_rtl .group .expandRight  
{  
  background: transparent url('img/groupImageRTL.gif') no-repeat 5px center;  
}

.RadMenu_Web20_rtl .vertical .link:hover .expandLeft,
.RadMenu_Web20_rtl .vertical .link:hover .expandRight,
.RadMenu_Web20_rtl .vertical .focused .expandLeft,
.RadMenu_Web20_rtl .vertical .focused .expandRight,
.RadMenu_Web20_rtl .vertical .expanded .expandLeft,
.RadMenu_Web20_rtl .vertical .expanded .expandRight
{
	background: transparent url(img/invertedGroupImageRTL.gif) left center no-repeat;
}

.RadMenu_Web20_rtl .group .link:hover .expandLeft,
.RadMenu_Web20_rtl .group .link:hover .expandRight,
.RadMenu_Web20_rtl .group .focused .expandLeft,
.RadMenu_Web20_rtl .group .focused .expandRight,
.RadMenu_Web20_rtl .group .expanded .expandLeft,
.RadMenu_Web20_rtl .group .expanded .expandRight
{
	background: transparent url(img/groupImageRTL.gif) 5px center no-repeat;
}