.RadPanelbar_Default
{
	background: #5c5c5c url("Img/background.gif") repeat-x bottom center;
}

.RadPanelbar_Default .rootGroup
{
	border: 1px solid #262626;
	padding: 20px 36px 28px 28px;
}

.RadPanelbar_Default_rtl .rootGroup
{
	padding: 20px 28px 28px 36px;
	text-align: right;
}

.RadPanelbar_Default .link
{
	border-bottom: 1px solid #bfbfbf;
	overflow-x: hidden;
}

.RadPanelbar_Default .link:hover
{
	border-bottom-color: #fff;
}

.RadPanelbar_Default .text
{
	margin-right: 7px;
	overflow-x: hidden;
}

.RadPanelbar_Default_rtl .text
{
	margin-left: 7px;
	margin-right: 0;
}

.RadPanelbar_Default .expandable .text
{
	background: transparent url("Img/arrow-right.gif") no-repeat right 9px;
}

.RadPanelbar_Default .expanded .text
{
	background: transparent url("Img/arrow-down.gif") no-repeat right 9px;
}

.RadPanelbar_Default .group .expanded .text,
.RadPanelbar_Default .group .expandable .text
{
	background-position: right 5px;
}

.RadPanelbar_Default_rtl .expandable .text
{
	background: transparent url("Img/arrow-right.gif") no-repeat left 9px;
}

.RadPanelbar_Default_rtl .expanded .text
{
	background: transparent url("Img/arrow-down.gif") no-repeat left 9px;
}

.RadPanelbar_Default_rtl .group .expanded .text,
.RadPanelbar_Default_rtl .group .expandable .text
{
	background-position: left 5px;
}

.RadPanelbar_Default .group
{
	overflow-x: hidden;
	overflow-y: auto;
}

.RadPanelbar_Default .group .link
{
	border-bottom-color: #626262
}

.RadPanelbar_Default .level1 .link.first
{
	border-top: 1px solid #bfbfbf;
}

.RadPanelbar_Default .level1 .link .item.first
{
	border-top: 1px solid #626262;
}

.RadPanelbar_Default .last .link
{
	border-bottom: 0;
}

.RadPanelbar_Default .rootGroup .text
{
	font: normal 12px Arial, Verdana, Sans-serif;
	color: #fff;
	padding: 5px 7px 5px 3px;
}

.RadPanelbar_Default_rtl .rootGroup .text
{
	padding: 5px 3px 5px 7px;
}

.RadPanelbar_Default .group .text
{
	font-size: 11px;
	padding: 2px 7px 2px 0;
}

.RadPanelbar_Default_rtl .rootGroup .text
{
	padding: 2px 0 2px 7px;
}

.RadPanelbar_Default .level1 .text
{
	padding-left: 10px;
}

.RadPanelbar_Default .level2 .text
{
	padding-left: 20px;
}

.RadPanelbar_Default .level3 .text
{
	padding-left: 30px;
}

.RadPanelbar_Default_rtl .level1 .text
{
	padding-right: 10px;
	padding-left: 0;
}

.RadPanelbar_Default_rtl .level2 .text
{
	padding-right: 20px;
	padding-left: 0;
}

.RadPanelbar_Default_rtl .level3 .text
{
	padding-right: 30px;
	padding-left: 0;
}

/* these should be checked */

.RadPanelbar_Default .selected .text
{
	font-weight: bold;
}

.RadPanelbar_Default .disabled .text
{
	cursor: default;
	color: #bbb;
}

.RadPanelbar_Default .rootGroup .disabled:hover
{
	border-bottom-color: #bfbfbf;
	cursor: default;
	text-decoration: none;
}

.RadPanelbar_Default .group .disabled:hover
{
	border-bottom: 1px solid #626262;
	cursor: default;
	text-decoration: none;
}